* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
}

.container {
  padding: 9.6rem 2.4rem;
}
@media (max-width: 768px) {
  .hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
  }
  .hamburger:hover {
    opacity: 0.7;
  }
  .hamburger.is-active:hover {
    opacity: 0.7;
  }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #000;
  }

  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
  }

  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
  }
  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hamburger-inner::before,
  .hamburger-inner::after {
    content: "";
    display: block;
  }
  .hamburger-inner::before {
    top: -10px;
  }
  .hamburger-inner::after {
    bottom: -10px;
  }

  .primary-header {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.8rem;
    color: #ec5242;
  }

  .headline-info {
    text-transform: uppercase;
    font-size: 2.8rem;
    color: #ec5242;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }

  .concert-info {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.75;
    border: 2px solid #fff;
    padding: 1.2rem;
    margin-bottom: 2.4rem;
  }

  .music-icon {
    height: 3.2rem;
    width: 3.2rem;
    color: #ec5242;
  }

  .main-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3.2rem;
  }

  .main-nav span {
    display: block;
    font-size: 1.6rem;
  }

  .section-headline {
    background-image: url(assets/img/hero-bg.png);
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 5rem;
  }
  .concert-duration {
    font-weight: 700;
    font-size: 3.2rem;
    color: #666666;
    margin-bottom: 1.2rem;
    line-height: 1.2;
  }

  .concert-location {
    font-weight: 400;
    font-size: 1.4rem;
  }

  /* Program-Section */

  .section-program {
    background-image: url(assets/img/checked-pattern.png);
    background-repeat: repeat;
    background-color: rgb(39, 42, 50);
    padding: 2rem 0;
    text-align: center;
  }

  .heading-tertiary {
    color: #fff;
    text-transform: capitalize;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .program-details {
    display: flex;
    gap: 1.8rem;
    align-self: center;
    justify-content: center;
    background-color: #e6e6e625;
    margin: 1.4rem;
    padding: 1.2rem;
  }
  .program-details img {
    display: inline-block;
  }
  .program-title {
    color: #ec5242;
  }

  .program-info {
    color: #e6e6e6;
  }
}
