* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #333;
  overflow-x: hidden;
}

.container {
  padding: 9.6rem 2.4rem;
}

.nav-image {
  display: none;
}

@media (max-width: 768px) {
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 2.8rem;
    transition: all 0.3s;
  }
  .btn-mobile-nav {
    border: none;
    background-color: none;
    cursor: pointer;
    display: none;
  }

  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(209, 75, 60, 0.664);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    z-index: 1000;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .icon-mobile-nav[name="close"] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }

  .main-nav-list {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  .icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
  }

  /* MOBILE */
  .icon-mobile-nav[name="close"] {
    display: none;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    height: 4.8rem;
    padding: 0 2.4rem;
    position: relative;
  }
}

.margin-sect {
  margin-top: 9.6rem;
}

/* Navigation */

.primary-header {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.8rem;
  color: #ec5242;
}

.headline-info {
  text-transform: uppercase;
  font-size: 2.8rem;
  color: #ec5242;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.concert-info {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.75;
  border: 2px solid #fff;
  padding: 1.2rem;
  margin-bottom: 2.4rem;
}

.music-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #ec5242;
}

.main-nav span {
  display: block;
  font-size: 1.6rem;
}

.section-headline {
  background-image: url(assets/img/hero-bg.png);
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.concert-duration {
  font-weight: 700;
  font-size: 3.2rem;
  color: #666666;
  margin-bottom: 1.2rem;
  line-height: 1.2;
}

.concert-location {
  font-weight: 400;
  font-size: 1.4rem;
}

/* Program-Section */

.section-program {
  background-image: url(assets/img/checked-pattern.png);
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  padding: 2rem 0;
  text-align: center;
}

.heading-tertiary {
  color: #fff;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 2rem 2rem 4rem 2rem;
  position: relative;
}
.heading-tertiary::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -35%;
  width: 5%;
  left: 47%;
  border-bottom: 1px solid #ec5242;
}

.program-details {
  display: flex;
  gap: 1.8rem;
  align-self: center;
  justify-content: center;
  background-color: #e6e6e625;
  margin: 1.4rem;
  padding: 1.2rem;
}
.program-details img {
  display: inline-block;
  height: 4.2rem;
  width: 4.2rem;
}
.program-title {
  color: #ec5242;
  align-self: center;
}

.program-info {
  color: #e6e6e6;

  font-size: 1.2rem;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  margin-top: 2.4rem;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  color: #fff;
  background-color: #ec5242;
}

.btn--signup:hover,
.btn--signup:active {
  background-color: #bd4235;
}

/* Artist Section */

.artist-image {
  width: 100%;
}

.artists-class {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.artistName {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.artistHeadliner {
  font-size: 1.4rem;
  font-style: italic;
  color: #ec5242;
  margin-bottom: 1.2rem;
}
.artistInfo {
  font-size: 1.8rem;
  line-height: 1.2;
  font-weight: 400;
}

.heading-artists {
  font-size: 2rem;
  font-family: 700;
  text-align: center;
  margin-bottom: 4.8rem;
  position: relative;
}

.heading-artists::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -35%;
  width: 5%;
  left: 47%;
  border-bottom: 1px solid #ec5242;
}

.partners-heading {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2.4rem;
}
.partners-section {
  background-color: rgb(39, 42, 50, 0.85);
  padding: 4.8rem 0 3.2rem 0;
}

.partners-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  list-style: none;
  flex-wrap: wrap;
  margin: 0 2rem;
  column-gap: 1.5rem;
}
.display-none {
  display: none;
}

.partners-logo img {
  width: 5.2rem;
}
.display-block {
  display: block;
}

.artistCard div:nth-child(3),
.artistCard div:nth-child(4),
.artistCard div:nth-child(5),
.artistCard div:nth-child(6) {
  display: none;
}

.load-more {
  margin-top: 2.4rem;
  padding: 1.6rem 2.4rem;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.more-icon {
  width: 1.6rem;
  color: #ec5242;
}

.section-footer {
  margin-top: 4.8rem;
}

.footer p {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 400;
}
.footer img {
  width: 100%;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  padding: 1.2rem;
}

@media (min-width: 768px) {
  .program {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  .artistCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .load-more {
    display: none;
  }

  .program-details {
    flex-direction: column;
    gap: 0.2rem;
    align-items: center;
  }

  .btn-mobile-nav {
    display: none;
  }

  .nav-image {
    display: block;
    width: 9.6rem;
  }
  .artistCard div:nth-child(3),
  .artistCard div:nth-child(4),
  .artistCard div:nth-child(5),
  .artistCard div:nth-child(6) {
    display: grid;
  }

  .partners-logo {
    column-gap: 2.4rem;
    margin: 0 4rem;
  }
  .partners-logo img {
    width: 9.6rem;
  }
  .footer {
    gap: 3.6rem;
    padding: 1.6rem;
  }

  .footer p {
    font-size: 1.6rem;
  }

  .footer img {
    width: 9.6rem;
    display: inline-block;
    margin-left: 4.8rem;
  }

  .main-nav-list {
    display: flex;
    gap: 1.8rem;
    list-style: none;
    align-items: center;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    color: #344563;
    font-weight: 500;
    font-size: 1.5rem;
    transition: all 0.3s;
  }

  .main-nav-link:hover,
  .main-nav-link:active {
    color: #ec5242;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
  }

  .sticky,
  .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
    z-index: 999;
  }
  *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(236, 83, 66, 0.678);
  }

  .nav-cta {
    border: 4px solid#ec5242;
    padding: 8px;
  }
}
