* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;

  --color-primary: #ec5242;
  --color-secondary: #272a31;
  --color-tertiar: #d3d3d3;
  --color-text-color: #070707;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-class h2 {
  color: #3e3e3e;
}

.nav-image {
  display: none;
}

.hidden {
  overflow: hidden;
  margin: 0;
  touch-action: none;
  -ms-touch-action: none;
  position: fixed;
  height: 100%;
}

.fixed-position {
  position: fixed;
}

.margin-sect {
  margin-bottom: 4.8rem;
}

/* Navigation */

.primary-header {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.8rem;
  color: #ec5242;
}

.headline-info {
  text-transform: uppercase;
  font-size: 2.8rem;
  color: #ec5242;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.concert-info {
  width: 85%;
  font-weight: 500;
  background-color: rgba(211, 211, 211, 0.2);
  border: 5px solid white;
  padding: 14px 16px 14px 16px;
}

.artistdetails hr {
  width: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0.5px solid #e6e6e6;
  border-radius: 0.25px;
}

.headline {
  width: 100%;
  min-height: 900px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-image: url(assets/img/backgrond-destok-headline.png);
}

.headline-titles h2,
span {
  color: transparent;
  background-image:
    linear-gradient(
      30deg,
      rgba(235, 71, 53, 0.5),
      rgba(252, 44, 7, 0.25)
    ),
    url(assets/img/background-mobile-image.png);
  -webkit-background-clip: text;
}

.about-description {
  font-weight: 300;
  color: #575757;
  margin-top: 16px;
  text-align: center;
  padding: 8px 16px 8px 16px;
  font-size: 0.8rem;
}

.concert-duration {
  font-weight: 700;
  color: #575757;
  margin-top: 50px;
}

.attendingArtists {
  width: 100%;
  justify-content: flex-start;
  transition-duration: 0.5s;
  overflow: hidden;
  min-height: 100px;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 10px;
}

.concert-location {
  font-weight: 300;
  color: #575757;
  margin-top: 8px;
}

.content-background {
  width: 100%;
  height: 100%;
}

.headline-titles {
  margin-top: 150px;
  margin-left: 8px;
  color: var(--color-primary);
}

.headline-titles h2 {
  font-size: 2.125rem;
  font-weight: 700;
}

.headline-titles.about h2,
span {
  color: var(--color-primary);
}

/* Program-Section */

#main-program {
  width: 100%;
  min-height: 500px;
  color: white;
  background-image: url("assets/img/background-program.png");
}

.section-title {
  font-size: 2.2rem;
  margin-top: 30px;
  text-align: center;
}

.section-subtitle {
  display: block;
  width: 60px;
  margin-top: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 2px;
  border-bottom: 4px solid var(--color-primary);
}

.list-activities {
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 60px;
  gap: 10px;
}

.activity {
  width: 95%;
  min-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
}

.activity .program-icon {
  min-width: 80px;
  height: 80px;
  margin-left: 4px;
  margin-right: 4px;
}

.activity .program-title {
  width: 20%;
  color: var(--color-primary);
  font-weight: 900;
  font-size: 0.938rem;
}

.activity .program-descriptions {
  width: 60%;
  font-size: 0.938rem;
  font-weight: 500;
  margin-right: 4px;
  margin-left: 6px;
}

.heading-tertiary::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -35%;
  width: 5%;
  left: 47%;
  border-bottom: 1px solid #ec5242;
}

.btn--signup {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: none;
  background-color: var(--color-primary);
  padding: 24px 36px 24px 36px;
  margin: 40px 0;
}

/* Artist Section */

.artistCard {
  width: 100%;
  justify-content: flex-start;
  transition-duration: 0.5s;
  overflow: hidden;
  min-height: 100px;
  list-style: none;
  margin-top: 30px;
  margin-bottom: 10px;
}

.artistdetails {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.heading-artists {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4.8rem;
  position: relative;
}

.partners-heading {
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2.4rem;
  position: relative;
}

.artist {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 750px;
  margin-top: 16px;
  margin-right: 8px;
  margin-left: 8px;
  box-sizing: border-box;
  cursor: pointer;
}

.artistName {
  font-weight: 900;
  font-size: 1.25rem;
}

.artistHeadliner {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-primary);
}

.partners-heading::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -44%;
  width: 3%;
  left: 49%;
  border-bottom: 1px solid #ec5242;
}

.partners-section {
  background-color: rgb(39, 42, 50, 0.85);
  padding: 4.8rem 0 3.2rem 0;
}

.partners-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}

.display-none {
  display: none;
}

.partners-logo img {
  width: 5.2rem;
  filter: grayscale(100%) contrast(30%);
}

.display-block {
  display: block;
}

.load-more,
.show-less {
  margin: 2.4rem 0;
  padding: 1.2rem 2rem;
  width: 60%;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
  background-color: #fff;
  color: #575757;
  font-size: 1.2rem;
  border: 2px solid #bebebe;
}

.flex {
  display: flex;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
  align-items: center;
  justify-content: center;
}

.artist-image {
  width: 10rem;
  height: 10rem;
  background-image: url(./assets/img/checkedimage.png);
  background-repeat: no-repeat;
  background-size: 5rem;
  padding: 10px;
}

.more-icon {
  width: 1.6rem;
  color: #ec5242;
}

.section-footer {
  margin-top: 4.8rem;
}

.footer p {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 400;
}

.footer img {
  width: 4.8rem;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  padding: 1.8rem;
}

/* Pricing Section: Ticket.html */

.pricing {
  padding-top: 100px;
  background-color: #f3f3f3;
}

.step {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 80%;
  height: auto;
  margin: 40px 16px 30px 16px;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  background-color: rgba(255, 255, 255, 0.7);
}

.step-title {
  color: var(--color-primary);
  font-weight: 700;
  text-align: center;
}

.step-description {
  margin-left: 12px;
  font-size: 1rem;
  text-align: center;
}

/* Table */
.table-desktop-prices {
  display: grid;
  grid-template-columns: 4fr 12fr;
  grid-template-rows: 4fr;
  overflow: hidden;
  width: 95%;
  height: 410px;
  background-color: white;
  border-bottom: 1px solid var(--color-tertiar);
}

thead {
  flex-wrap: wrap;
  color: var(--color-primary);
  font-weight: 900;
  background-color: #ffa297;
  border-left: 1px solid var(--color-primary);
  border-top: 1px solid var(--color-primary);
}

tbody {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-left: 1px solid var(--color-tertiar);
}

tr :last-child {
  border-bottom: none;
}

tr {
  display: flex;
  flex-direction: column;
}

tr :first-child {
  border-left: none;
}

thead tr {
  width: 100%;
}

tbody tr {
  width: 33%;
}

th,
td {
  width: 100%;
  height: 80px;
  text-align: center;
  border-right: 1px solid var(--color-tertiar);
  border-bottom: 1px solid var(--color-tertiar);
  border-left: none;
  border-top: none;
}

table td {
  border-collapse: collapse;
}

th {
  border-right: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  background-color: #ffa297;
}

th:nth-child(3) {
  height: 160px;
}

tbody label {
  width: 100%;
  height: 100%;
}

tbody input {
  margin-top: 18px;
}

.event-detail i {
  font-size: 16px;
  width: 20px;
  height: 20px;
}

.btn-down i {
  color: white;
  font-size: 18px;
  transition-duration: 0.4s;
}

/* Lunch Section */

.lunch {
  min-height: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.table-menu {
  width: 90%;
}

.table-menu thead tr th {
  width: 100%;
}

.table-menu tbody tr {
  width: 100%;
  border: 1px solid var(--color-tertiar);
}

.table-menu tbody tr td {
  border-left: none;
}

#btn-schedule {
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 140px;
  padding: 16px 24px 16px 24px;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary);
  transition-duration: 0.4s;
  text-decoration: none;
}

#btn-schedule:hover {
  background-color: white;
  color: var(--color-primary);
}

/* Day section Schedule Page */
.schedule {
  padding-top: 100px;
  background-color: #f3f3f3;
}

.list-days {
  width: 90%;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 24px;
  margin-bottom: 60px;
}

.day {
  text-align: center;
  font-size: 1.2rem;
  padding: 16px 32px 16px 32px;
  background-color: #f5f5f5;
  border-radius: 12px;
  border: 1px solid var(--color-tertiar);
  margin-right: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.day.selected {
  background-color: var(--color-primary);
  border: 1px solid #cd4536;
  color: white;
  font-weight: 500;
}

.separator {
  width: 94%;
  height: 1px;
  border: none;
  background-color: #bebebe;
  margin-top: 24px;
  margin-bottom: 24px;
  opacity: 0.8;
}

/* Ticket Detail Section */
.ticket-detail {
  background-color: #f3f3f3;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ticket-date {
  font-size: 1.2rem;
  color: var(--color-primary);
}

/* Program-Calendar Section */
.program-calendar {
  background-color: #f3f3f3;
  min-height: 500px;
}

.ticket-description {
  padding: 12px;
  margin-bottom: 60px;
  margin-top: 24px;
}

.legend-wrapper {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.legend {
  list-style: none;
  border: 1px solid #e6e6e6;
  background-color: #f9f9f9;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: flex-end;
}

.legend li {
  padding: 4px;
}

.program-calendar li i {
  padding: 8px;
  border-radius: 15px;
  color: white;
  background-color: #7955be;
}

.btn-down i:hover {
  transform: scale(1.3);
}

.legend li:nth-child(1) i {
  background-color: #7955be;
}

.legend li:nth-child(2) i {
  background-color: #5268d9;
}

.legend li:nth-child(3) i {
  background-color: #db5858;
}

.legend li:nth-child(4) i,
.legend li:nth-child(5) i {
  background-color: #6386c0;
}

.legend li:nth-child(6) i {
  background-color: #c655b3;
}

.calendar {
  margin-top: 30px;
  width: 90%;
  border: 1px solid #e6e6e6;
  background-color: white;
  list-style: none;
}

.row {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.calendar .border-bottom {
  border-bottom: 1px solid #d3d3d3;
}

.calendar .date {
  width: 20%;
  min-width: 70px;
  padding: 16px;
  max-lines: 1;
}

.event-simple {
  width: 100%;
  text-align: center;
}

.list-event {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.calendar .row .event {
  background-color: #ec5242;
  display: flex;
  justify-content: flex-start;
  height: auto;
  border-radius: 5px;
  margin: 6px;
  padding: 8px;
}

.event-detail {
  width: 100%;
  height: auto;
  display: flex;
  justify-self: flex-end;
  flex-wrap: wrap;
  overflow: hidden;
}

.event-description,
.event-localisation,
.event-subdetail {
  display: none;
}

.event-title {
  display: flex;
  align-items: center;
  font-size: 1rem;
  text-align: start;
  padding-left: 10px;
}

.btn-down {
  margin-top: 100px;
  height: 60px;
  width: 60px;
  transform: translateY(30px);
  background-image: url(assets/img/retangleback.png);
  background-size: cover;
  color: white;
  text-decoration: none;
}

.headline-titles.about {
  padding-top: 60px;
  margin-left: 0;
  margin-top: 0;
}

.content-description {
  width: 100%;
  position: absolute;
  padding: 40px;
}
